.root {
/*
    -fx-text-background-color: ladder(
        -fx-background,
        -fx-light-text-color 45%,
        -fx-dark-text-color  46%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );
*/
    -fx-text-background-color: ladder(
        -fx-background,
        -fx-light-text-color 55%,
        -fx-dark-text-color  56%,
        -fx-dark-text-color  59%,
        -fx-mid-text-color   60%
    );
}